@charset "UTF-8";
html,body{
  padding: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
}
.iconfont{
  font-size: inherit;
  line-height: 1;
}
.canvasbg{
  position: relative;
  overflow: hidden;
  clear: both;
  width: 100%;
  height: 100%;
  canvas{
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 1;
  }
  .flagText{
    position: absolute;
    z-index: 2;
    color: #fff;
    width: 465px;
    height: 365px;
    top:30%;
    left: 20%;
    img{
      clear: both;
      overflow: hidden;
      width: 80%;
      display: block;
    }
    font-size: 20px;
    line-height: 2;
    .btn{
      width: 160px;
    }
  }
}
.nav{
  //height: 70px;
  width: 100%;
  position: fixed;
  top:0px;
  left: 0px;
  z-index: 10;
  padding: 0px 36px;
  margin-top: 42px;
  .logo{
    width: 52px;
    height: 34px;
    background-image: url("../images/index/logo_1.png");
    float: left;
  }
  .leftNav{
    float: right;
    list-style: none;
    li{
     float: left;
      padding: 0px 20px;
      .navItem{
        color: #fff;
        font-size: 18px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        line-height: 2;
        &:hover,&.active{
          text-decoration: none;
          &:after{
            content: "";
            height: 2px;
            position: absolute;
            background-color: #fff;
            width: 100%;
            bottom: 0px;
            display: block;
            left: 0px;
          }
        }
      }
      .navBtn{
        width: 70px;
        height: 40px;
        font-size: 16px;
        color: #fff;
        border: 1px solid #fff;
        display: block;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        &:hover{
          background-color: #fff;
          color: #55b9fe;
          text-decoration: none;
        }
      }
    }
  }
  &.whiteFixed{
    background-color: #fff;
    top:0px;
    height: 70px;
    margin-top: 0px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    .logo{
      margin-top: 20px;
      background-image: url("../images/index/logo_2.png");
    }
    .leftNav{
      margin-top: 20px;
      a{
        color: #999;
        &:hover,&.active{
          color: #22a0db;
          &:after{
            background-color: #22a0db;
          }
        }
      }
      .navBtn{
        color: #22a0db;
        border: 1px solid #22a0db;
        &:hover{
          color: #fff;
          background-color: #22a0db;
        }
      }
    }

  }
}
.model{
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}
.piBox{
  display: flex;
  -webkit-flex: 1;
  display: -webkit-flex;
  padding: 50px 0px;
  .pi{
    flex-grow: 1;
    text-align: center;
    .pi_icon{
      width: 150px;
      height: 150px;
      line-height: 150px;
      text-align: center;
      display: block;
      margin: 20px auto;
      font-size: 70px;
      border-radius: 100%;
      border: 1px solid #ddd;
      color: #959595;
    }
    .pi_name{
      font-size: 30px;
      color: #666666;
      line-height: 2;
    }
    .pi_info{
      font-size: 14px;
      color: #888;
    }
  }
}
.pt_text{
  text-align: center;
  display: flex;
  display: -webkit-flex;
  flex: 1;
  &::before,&::after{
    content: "";
    height: 1px;
    background-color: #ddd;
    flex-grow: 1;
    margin-top: 22px;
  }
  span{
    flex-grow: 1;
    font-size: 30px;
  }
}
.pt_info{
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #999999;
}
.pl{
  clear:both;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  padding: 30px 0px 0px;
  flex: 1;
  .pl_item{
    width: 150px;
    height: 120px;
    text-align: center;
    .iconfont{
      font-size: 50px;
      line-height: 1.5;
      color: #3ebdff;
    }
    p{
      font-size: 14px;
      color: #333;
    }
  }
}
.pl_btn_box{
  padding: 30px;
  text-align: center;
  margin-bottom: 40px;
  .pl_btn{
    color: #3ebdff;
    border: 1px solid #3ebdff;
    display: inline-block;
    padding: 12px 50px;
    &:hover{
      background-color: #3ebdff;
      color: #fff;
      text-decoration: none;
      cursor:pointer;
    }
  }
}
.adv{
  padding: 50px;
  text-align: center;
  img{
    max-width: 1000px;
  }
}
.footer{
  clear: both;
  overflow: hidden;
  .ft{
    height: 225px;
    background-image: url("../images/index/foot1.jpg");
    text-align: center;
    color: #fff;
    background-position: center;
    .ft_text{
      font-size: 24px;
      padding: 40px;
    }
    .registBtn{
      font-size: 16px;
      display: inline-block;
      border: 2px solid #fff;
      width: 198px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      border-radius: 5px;
      color: #fff;
      &:hover{
        background-color: #fff;
        color: #3ebdff;
        text-decoration: none;
      }
    }
  }
  .fb{
    height: 225px;
    background-image: url("../images/index/foot2.jpg");
    color: #fff;
    background-position: center;
    .fb_c{
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      display: -webkit-flex;
      flex: 1;
      .fb_item{
        list-style: none;
        padding-top: 30px;
        flex-grow: 1;
        text-align: left;
        .fb_title{
          font-size: 18px;
          line-height: 2;
          position: relative;
          overflow: hidden;
          &:after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            height: 2px;
            width: 200px;
            border-bottom: 2px solid rgba(255,255,255,0.5);
          }
        }
        .fb_i{
          line-height: 2;
          a{
            font-size: 14px;
            color: #fff;
          }
          img{
            margin: 20px 0px;
          }
        }
      }
    }
  }
}
.innerpageContainer{
  padding-top: 70px;
  .aboutImg{
    min-width: 1200px;
    height: 398px;
    background-image: url("../images/index/about.jpg");
    background-position: center;
  }
}